<h1>About Vista</h1>
<img class = "pic" src = "http://summitsensations.org/wp-content/uploads/2015/11/Mt.RainierSunriseLO-1.jpg">
<p><em>Mt. Rainier, as seen from Seattle, WA.</em><p>
<br>
<h4>Vista was created as a space for people who are passionate about
the great outdoors to come together, view hikes in their area, and share
stories from the trail, resulting in a more connected hiking community.</h4>
<br>
<h4>In every city I've lived in, I've made a point to explore what the local nature
had to offer, but there can be a dearth of options for this online.
I hope that Vista allows you to get outside and to find outdoor spaces
in your area. Please feel free to reach out to share feedback or stories
from the great outdoors <%= link_to "here", static_pages_contact_path%>.</h4>
<br>
<h4>Thanks for reading and exploring,</h4>
<br>
<h4>Jack Stein</h4>
