<h1>Contact</h1>
<br>
<img class = "pic" src = "http://keepbaldywild.com/wp-content/uploads/2012/12/mt-baldy-sunset-david-mix-940x705.jpg">
<br>
<h4>Feel free to contact me <%= link_to "here.", "http://www.linkedin.com/in/jacklsteiniv", data: { confirm: "Are you sure?" } %></h4>


