<h1>Welcome to Vista.</h1>
<br>
<img class = "pic", src = "https://upload.wikimedia.org/wikipedia/commons/f/f9/Mount_tamalpais_from_berkeley.JPG">
<br>
<h4>Please log in or register above to explore.</h4>
