<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up for Vista below!</h1>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'register' %>
  </div>
</div>

