<% provide(:title, 'All reviews') %>
<h1>All Reviews</h1>
<ul class= "reviews">
<% @posts.each do |post| %>
  <%= render 'posts' %>
<%end%>
</ul>
<!-- <h4>Thoughts? <%= link_to "Add your review", new_post_path %> </h4> -->
