/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$content-width: 1400px;
$vistared: #E05151;
$vistagrey: #C7D0D5;
$vistagreen: #DDE0CD;

/* universal */

// NOTE: you're going to break this up into multiple stylesheets,
//one per page.

body {
  background-color: $vistagrey;
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

// End Hartl Bootstrap recs

* {
  font-family: Futura;
}

.user-page {
  color: red;
}

.postpic {
  width: $content-width/2;
  border-radius: 8px;
  margin: 30px;
}

button a, input {
  color: black;
}

.user_info {
  color: $vistared
  margin 0 auto;
}

// .btn-danger a  {
//   color: black;
// }

// .btn-success a {
//   color: black;
// }

h1 {
  color: $vistared;
  text-align: center;
}

.jumbotron {
  background-image: url("http://eskipaper.com/images/yosemite-wallpaper-3.jpg");
  background-repeat: none;
  color: $vistared;
}

.navbar-nav {
  background: $vistagreen;
  opacity: 0.75;
  border: 1px solid $vistared;
  a  {
  color: $vistared;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
}

.btn a {
  color: white;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin: 10px 0px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

// Restyled the input button in modal for registration to mirror Bootstrap.
#register input {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  border-radius: 4px;
  margin-top: 10px;
  border: 1px solid transparent;
}
