<footer class="footer">
  <ul class = "nav navbar-nav navbar-fixed-bottom">
    <li><%= link_to "About", 'api/hikes/about'%></li>
    <li><%= link_to "Contact", 'https://www.linkedin.com/in/jacklsteiniv' %></li>
  </ul>
</footer>
