<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to "Login", new_session_path %></li>
  <!-- Add if/else for current user = logout, not current user = login -->
  <li><%= link_to 'Register', new_user_path %></li>
  <li><%= link_to 'Hikes', root_path %></li>
</ul>
